.side
  .side__header
    .side__header__box
      %p.side__header__box__left
        名前
      %ul.side__header__box__right
        %li.side__header__box__icon
          = link_to "#" do 
            = icon('fas', 'edit')
        %li.side__header__box__icon
          = link_to "#" do 
            = icon('fas', 'cog')
        
        

  .side__group
    .side__group__box
      %p.side__group__box__name
        techcamp
      %p.side__group__box__message
        まだメッセージがありません
    .side__group__box
      %p.side__group__box__name
        techcamp
      %p.side__group__box__message
        まだメッセージがありません
